#blog-post-section {
    min-height: 0px;
    border-radius: 0vw;
    border: dashed 0px #dddddd;
    padding-left:  4vw;
    padding-right: 4vw;
    padding-top: 1vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    gap: 1vw;
    flex-wrap: wrap;
}
.blog-post-title {
    font-family: LexendBold;
    margin: 0;
    font-size: max(1.8vw, 18px);
}
.blog-post-date {
    font-family: LexendRegular;
    margin: 0;
    font-size: max(1vw, 12px);
}
h2 {
    margin: 0;
    margin-top: 2vh;
    font-size: max(1.3vw, 14px);
}
h3 {
    margin: 0;
    margin-top: 1vh;
    font-size: max(1.1vw, 12px);

}
p {
    font-size: max(1vw, 10px);
    margin:0
}
img {
    max-width: 100%;
    object-fit: scale-down;
    padding: 0vw;
    border-radius: 1vw;
    margin: 0
}
em {
    text-align: center;
}
figure {
    margin-left: 8vw;
    margin-right: 8vw;
    justify-items: center;
}
figcaption {
    text-align: center;
    font-size: max(0.9vw, 8px);
    font-style: italic;
}
.captioned-image {
    max-height: 40vh;
}